<div class="container">
  <div class="container1">
    <div class="right-cloud">
      <img src="/assets/images/cloud.svg" alt="">
    </div>
    <div class="name">
      <img src="/assets/images/name1.png" alt="">
      <div class="design"> a web deisgner</div>
    </div>
    <div class="left-cloud">
      <img src="/assets/images/cloud.svg" alt="">
    </div>
  </div>
  <div class="bgimg">
    <img src="/assets/images/land.svg" alt="">
  </div>
  <div class="part1">
    <div class="face">
      <img src="/assets/images/g1white.png" style="width: 200px; height: 200px;">
      <div class="hi">
        <h3>Hi!</h3>
        <div class="text">
          <p>I'm a web designer/developer based in Toronto, Canada. I have a passion for web design and love to create
            for
            web and mobile devices.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hi">
    <h3>What I can do.</h3>
  </div>
  <div class="part2">
    <div class="face2">
      <img src="/assets/images/me.svg" style="width: 150px; height: 150px;">
      <div class="animation1">
        <img src="/assets/images/design-icons-vert.png" style="width: 50px; height: 150px;">
      </div>
    </div>
    <div class="design-text">
      <h3>Design what you want.</h3>
    </div>
    <div class="text">
      <p>I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want
        to send.</p>
    </div>
  </div>
  <div class="part2">
    <div class="design-text">
      <h3>Develop what you need.</h3>
    </div>
    <div class="face3">
      <img src="/assets/images/me-dev.svg" style="width: 150px; height: 150px;">
    </div>
    <div class="animation1">
      <img src="/assets/images/dev-icons-vert.png" style="width: 50px; height: 150px;">
    </div>
    <div class="text">
      <p>I'm a developer, so I know how to create your website to run across devices using the latest technologies
        available.
      </p>
    </div>
  </div>
  <div class="part2">
    <div class="hi">
      <h3>I can help.</h3>
    </div>
    <div class="design-text">
      <h3>I’m currently available for freelance work.</h3>
    </div>
    <div class="text">
      <p>If you have a project that you want to get started, think you need my help with something or just fancy saying
        hey, then get in touch.
      </p>
    </div>
    <div class="messageme">Message me</div>
  </div>
  

</div>